@tailwind base;
@tailwind components;
@tailwind utilities;

.m-icon {
  font-family: “Material Icons”, “MaterialIcons-Regular”;

  font-weight: 400;
}

.m-icon-outline {
  font-family: “Material Icons”, “MaterialIconsOutlined-Regular”;

  font-weight: 400;
}
